body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  background-color: #FBF1E5;
}
.body_section {
  padding: 3% 5% 1%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Lovely Home";
  src: local("Lovely Home"), url("Image/LovelyHome-9aBZ.ttf") format("truetype");
}

.brand-name,
.navbar-light .navbar-brand {
  /* font-family: "Brush Script MT"; */
  /* margin-bottom: 3px; */
  font-family: "Lovely Home";
  font-size: 50px;
  font-weight: bold;
  color: #351458;
}

@media only screen and (max-width: 764px) {
  .brand-name,
  .navbar-light .navbar-brand {
    font-family: "Lovely Home";
    font-size: 40px;
    font-weight: bold;
    color: #351458;
  }
}

.headerachor {
  color: black;
  margin: 0 7px 0 7px;
  font-size: 25px;
}

.headerachor:hover {
  background-color: #f1f1f1;
}

.Section1 {
  padding: 4% 0 3%;
}

footer {
  padding-top: 2%;
  color: #868e96;
  text-align: center;

}
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 600px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  color: #CD5E77;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.flip-card-front {
  background: linear-gradient(to right, #F6A6BB, #F7D1D8);
  color: White;
}

.flip-card-back {
  background-color: #FBF1E5;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  padding: 20px; 
  box-sizing: border-box;
}

.subtitle {
  font-size: 1em;
  font-weight: 400;
  margin-top: 10px;
  color: #fff;
}

.skills-list { 
  padding-left: 20px;     
  text-align: left;
  font-size: 1em;
  line-height: 1.6;
  margin-top: 15px;
  color: black;
}

.flip-card-back .title {
  margin-bottom: 40px;
  color: #CD5E77;
  text-align: center;
}
.cards-container {
  display: flex;
  gap: 20px;         
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;  
  padding: 20px;
}

.flip-card {
  width: 350px;       
  height: 500px;      
}

@media (max-width: 800px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .flip-card {
    width: 80%;
    margin-bottom: 20px;
  }
}
.skill {
  margin-bottom: 15px;
}

.skill p {
  margin: 0 0 5px 0;
  font-weight: 500;
  color: black;
  font-size: 15px;
}

.progress-bar {
  width: 80%;
  height: 10px;
  background: rgba(136, 96, 96, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #CD5E77, #CD5E77);
  border-radius: 10px;
  width: 0; 
  transition: width 1s ease-in-out;
}


